name: Build and Push Docker Image to ACR

on:
  push:
    branches:
      - main

env:
  ACR_LOGIN_SERVER: ${{ secrets.ACR_LOGIN_SERVER }}
  IMAGE_NAME: ${{ secrets.IMAGE_NAME }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to ACR
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build Docker image
        run: |
          SHORT_SHA=$(echo "${GITHUB_SHA}" | cut -c1-8)
          echo "SHORT SHA = $SHORT_SHA"
          docker build -t $ACR_LOGIN_SERVER/$IMAGE_NAME:$SHORT_SHA .
          docker tag $ACR_LOGIN_SERVER/$IMAGE_NAME:$SHORT_SHA $ACR_LOGIN_SERVER/$IMAGE_NAME:latest

      - name: Push Docker image
        run: |
          SHORT_SHA=$(echo "${GITHUB_SHA}" | cut -c1-8)
          docker push $ACR_LOGIN_SERVER/$IMAGE_NAME:$SHORT_SHA
          docker push $ACR_LOGIN_SERVER/$IMAGE_NAME:latest
