name: Build and Push Docker Image to ACR

on:
  push:
    branches:
      - main

env:
  IMAGE_NAME: ${{ secrets.IMAGE_NAME }}
  ACR_LOGIN_SERVER: ${{ secrets.ACR_LOGIN_SERVER }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Azure Container Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build Docker image
        run: |
          SHORT_SHA=$(echo "${GITHUB_SHA}" | cut -c1-8)
          echo "Using short SHA: $SHORT_SHA"
          docker build -t $ACR_LOGIN_SERVER/$IMAGE_NAME:$SHORT_SHA .
          docker tag $ACR_LOGIN_SERVER/$IMAGE_NAME:$SHORT_SHA $ACR_LOGIN_SERVER/$IMAGE_NAME:latest

      - name: Push Docker image to ACR
        run: |
          SHORT_SHA=$(echo "${GITHUB_SHA}" | cut -c1-8)
          docker push $ACR_LOGIN_SERVER/$IMAGE_NAME:$SHORT_SHA
          docker push $ACR_LOGIN_SERVER/$IMAGE_NAME:latest

      - name: Finished
        run: echo "Image successfully built and pushed to ACR!"
