name: Manage Multi-Environment Infrastructure

on:
  workflow_dispatch:
    inputs:

      mode:
        description: "Select Action Type"
        type: choice
        options:
          - create-all
          - delete-all
          - create-one
          - delete-one

      environment:
        description: "Environment (Only for create-one / delete-one)"
        type: choice
        options: [dev, qa, staging, prod]
        required: false

jobs:
  infra:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Install Containerapp extension
        run: |
          az extension add --name containerapp --yes || az extension update --name containerapp

      - name: Run Multi-Infra Script
        run: |
          chmod +x scripts/create-infra.sh
          ./scripts/create-infra.sh \
            "${{ github.event.inputs.mode }}" \
            "${{ github.event.inputs.environment }}"
