name: Manage Multi-Environment Infra (Dev/QA/Staging/Prod)

on:
  workflow_dispatch:
    inputs:
      action:
        description: "Create or Delete Infra?"
        required: true
        type: choice
        options:
          - create
          - delete

      environment:
        description: "Select Environment"
        required: true
        type: choice
        options:
          - Dev
          - QA
          - Staging
          - Prod

jobs:
  multi-infra:
    runs-on: ubuntu-22.04

    steps:
      # Step 1: Pull repo
      - name: Checkout repository
        uses: actions/checkout@v4

      # Step 2: Login to Azure
      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # Step 3: Install Container Apps CLI extension
      - name: Install Container Apps extension
        run: |
          az extension add --name containerapp --yes || az extension update --name containerapp

      # Step 4: Run script
      - name: Run Multi-Infra Script
        run: |
          chmod +x scripts/create-infra.sh
          ./scripts/create-infra.sh \
            "${{ github.event.inputs.action }}" \
            "${{ github.event.inputs.environment }}"
