name: Create Azure Infrastructure

# Manual trigger
on:
  workflow_dispatch:

jobs:
  create-infra:
    runs-on: ubuntu-22.04
    permissions:
      contents: read

    steps:

      # Checkout repo to access the script
      - name: Checkout repository
        uses: actions/checkout@v4

      # Login to Azure using service principal
      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # Install required Azure CLI extension
      - name: Install containerapp extension
        run: |
          az extension add --name containerapp --yes || az extension update --name containerapp

      # Run the infra creation shell script
      - name: Run infra script
        run: |
          chmod +x scripts/create-infra.sh
          ./scripts/create-infra.sh
