name: Deploy Image to Any Environment

on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        options: [Dev, QA, Staging, Prod]

jobs:
  deploy:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - run: |
          chmod +x scripts/create-infra.sh
          ./scripts/create-infra.sh "${{ github.event.inputs.environment }}"