name: Manage Azure Infrastructure

on:
  workflow_dispatch:
    inputs:
      action:
        description: "Choose Action"
        required: true
        type: choice
        options:
          - create
          - delete

      environment:
        description: "Select Environment"
        required: true
        type: choice
        options:
          - dev
          - qa
          - staging
          - prod

jobs:
  infra:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Install containerapp extension
        run: |
          az extension add --name containerapp --yes || az extension update --name containerapp

      - name: Run Infra Script
        run: |
          chmod +x scripts/create-infra.sh
          ./scripts/create-infra.sh \
            "${{ github.event.inputs.action }}" \
            "${{ github.event.inputs.environment }}"
