name: Build and Push Docker Image to ACR

# This workflow runs whenever code is pushed to main branch
on:
  push:
    branches:
      - main

# Common variables used in the workflow
env:
  ACR_LOGIN_SERVER: ${{ secrets.ACR_LOGIN_SERVER }}
  IMAGE_NAME: message-app

jobs:
  build-and-push:

    # Use a stable Ubuntu version
    runs-on: ubuntu-22.04

    steps:
      # Step 1: Download the code from the GitHub repo
      - name: Checkout repository
        uses: actions/checkout@v4

      # Step 2: Login to Azure Container Registry
      - name: Login to ACR
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      # Step 3: Build Docker image
      - name: Build Docker image
        run: |
          SHORT_SHA=$(echo "${GITHUB_SHA}" | cut -c1-8)
          VERSION_TAG="v1-${SHORT_SHA}"
          docker build -t $ACR_LOGIN_SERVER/$IMAGE_NAME:$VERSION_TAG .

      # Step 4: Push the built image to ACR
      - name: Push Docker image
        run: |
          SHORT_SHA=$(echo "${GITHUB_SHA}" | cut -c1-8)
          VERSION_TAG="v1-${SHORT_SHA}"
          docker push $ACR_LOGIN_SERVER/$IMAGE_NAME:$VERSION_TAG
