name: Build & Push Docker Image to ACR

on:
  push:
    branches: [main]   # Auto → dev
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: "Select Environment"
        options: [qa, staging, prod]

jobs:
  build-and-push:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      # Detect environment (auto=dev, manual=selected env)
      - name: Detect Environment
        run: |
          ENV="${{ github.event_name == 'push' && 'dev' || github.event.inputs.environment }}"
          echo "ENV=$ENV" >> $GITHUB_ENV

      # Load ACR Credentials
      - name: Load ACR Secrets
        run: |
          UPPER=$(echo "${{ env.ENV }}" | tr '[:lower:]' '[:upper:]')
          for k in LOGIN_SERVER USERNAME PASSWORD; do
            echo "ACR_$k=${{ secrets[format('ACR_{0}_%s', UPPER, k)] }}" >> $GITHUB_ENV
          done

      # Login to ACR
      - uses: docker/login-action@v2
        with:
          registry: ${{ env.ACR_LOGIN_SERVER }}
          username: ${{ env.ACR_USERNAME }}
          password: ${{ env.ACR_PASSWORD }}

      # Build & Push Image
      - name: Build & Push Image
        run: |
          TAG="${{ env.ENV }}-$(echo $GITHUB_SHA | cut -c1-8)"
          echo "TAG=$TAG" >> $GITHUB_ENV

          docker build -t $ACR_LOGIN_SERVER/message-app:$TAG .
          docker push $ACR_LOGIN_SERVER/message-app:$TAG

      - name: Print Image
        run: echo "Pushed → $ACR_LOGIN_SERVER/message-app:${{ env.TAG }}"
