name: Build and Push to Dev ACR

on:
  push:
    branches:
      - main

env:
  IMAGE_NAME: message-app

jobs:
  build-and-push:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Load Dev ACR secrets
        run: |
          echo "ACR_LOGIN_SERVER=${{ secrets.ACR_DEV_LOGIN_SERVER }}" >> $GITHUB_ENV
          echo "ACR_USERNAME=${{ secrets.ACR_DEV_USERNAME }}" >> $GITHUB_ENV
          echo "ACR_PASSWORD=${{ secrets.ACR_DEV_PASSWORD }}" >> $GITHUB_ENV

      - name: Login to Dev ACR
        uses: docker/login-action@v2
        with:
          registry: ${{ env.ACR_LOGIN_SERVER }}
          username: ${{ env.ACR_USERNAME }}
          password: ${{ env.ACR_PASSWORD }}

      - name: Build Image
        run: |
          SHORT_SHA=$(echo "${GITHUB_SHA}" | cut -c1-8)
          VERSION_TAG="v1-${SHORT_SHA}"
          echo "VERSION_TAG=$VERSION_TAG" >> $GITHUB_ENV
          docker build -t $ACR_LOGIN_SERVER/$IMAGE_NAME:$VERSION_TAG .

      - name: Push Image to Dev ACR
        run: |
          docker push $ACR_LOGIN_SERVER/$IMAGE_NAME:${{ env.VERSION_TAG }}
